.jumbotron {
  background-color: #eee;
}

.jumbotron h1 {
  font-size: 4.1rem;
  font-weight: 400;
}

.jumbotron h2 {
  font-weight: 400;
  margin-bottom: .8rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-weight: normal;
  font-size: 1.2rem;
}

.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  padding: 10px 16px;
}

.btn-primary:hover {
  background-color: #2e6da4;
}

a {
  color: #337ab7;
  text-decoration: none;
}

button span {
  margin-right: .3rem;
}